$font_main: "Merriweather", serif;
$font_style: italic;

$background-color: #000;
$color_main: #232323;
$border_main: 1px solid $color_main;
$white: #fff;


$baseHeaderHeight: 97px;

$indent-sm: 10px;
$indent-md: 20px;
$indent-lg: 40px;